<h1>New User</h1>
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
<div>
    <form>
        <label for="username">Name</label>
        <input type="text" name="username">
        <br />
        <label for="email">Email</label>
        <input type="text" name="email">
        <br />
        <label for="isadmin">Admin ?</label>
        <input type="checkbox" name="isadmin">

        <br />
        <input type="submit" value="Create user">
    </form>
</div>
