<!DOCTYPE html>
<html>
  <head>
    <title>Railstore</title>
    <%= render "layouts/rails_default" %>
  </head>

  <body>
  <%= render "layouts/header" %>
  <div class="center">
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
  </body>
</html>
